* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

.icon-links {
  text-decoration: none;
  padding: 20px;
}

.icon-links:hover {
  border: none;
}

.regular-links {
  color: #f9ae06;
  text-decoration: none;
}

.regular-links:visited {
  color: #f9ae06;
}

.regular-links:hover {
  border: none;
  color: #ef3852;
  text-decoration: none;
}

a:visited {
  color: #4c4d4f;
  cursor: pointer;
}

a:hover {
  color: white;
  border-right: 6px solid #05C2D1;
  cursor: pointer;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.fas,
.far,
.fab {
  font-size: 37px;
  margin: auto;
  text-align: center;
}

.fas:hover,
.far:hover,
.fab:hover {
  color: white;
}

.fa-home {
  padding-left: 20px;
  color: #ef3852;
}

.fa-facebook-square {
  color: #05C2D1;
  padding-right: 15px;
}

.fa-envelope {
  color: #f9ae06;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "nav header"
                       "nav img"
                       "nav body"
}

.nav-bar {
  display: grid;
  grid-area: nav;
  background-color: #f9ae06;
  height: 760px;
}

.img-header {
  grid-area: img;
   background-image: url("images/Computer-design.jpg");
   background-size: cover;
   height: 300px;
 }

.body {
  grid-area: body;
  background-color: #f7f5ee;
  height: auto;
}

.body-text {
/*  border: double #4c4d4f;*/
  background-color: #fcfcfa;
  padding: 25px;
  margin: 50px;
  margin-bottom: 0;
  line-height: 1.5;
}

.hello-world,
.enjoy-message {
  font-style: italic;
}

.turing-logo {
  height: 160px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.mod-links {
  color: #4c4d4f;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.search-header {
  align-items: center;
  display: flex;
  padding: 15px;
  height: 100px;
  width: 100%;
  grid-area: header;
  background-color: #4c4d4f;
}

.search-bar-input {
  border: 2.5px solid #C2C1C0;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  color: #4c4d4f;
  font-size: 1.5em;
  height: 50px;
  outline: none;
  padding: 10px;
  width: 70%;
}

.search-bar-btn {
  background-color: #C2C1C0;
  border: 2.5p;
  border-color: #C2C1C0;
  border-bottom-right-radius: 6px;
  border-left-style: none;
  border-top-right-radius: 6px;
  height: 50px;
  width: 50px;
}

.fa-search {
  color: #FFFFFF;
  font-size: 2em;
  height: 37px;
  padding-top: 3px;
  width: 37px;
}

.header-text {
/*  border: 20px solid #4c4d4f;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 3em;
  color: black;
  background-color: white;
  opacity: .7;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.filter-buttons {
  display: flex;
  margin-top: 35px;
  justify-content: space-around;
}

.filter-button:hover {
  cursor: pointer;
  background-color: #ef3852;
  transition: .4s;
}

.filter-button {
  background-color: #05C2D1;
  cursor: pointer;
  border: 1.5px solid #4c4d4f;
  color: white;
  border-radius: 10px;
  letter-spacing: .75px;
  padding: 10px;
  width: 140px;
}

/*Media Queries*/
@media screen and (max-width: 1100px) {
  .search-bar-input {
    width: 450px;
}

@media screen and (max-width: 800px) {
  .search-bar-input {
    width: 450px;
  }
  
  .fa-home,
  .fa-envelope,
  .fa-facebook-square {
    position: absolute;
    right: 2000px;
    color: transparent;
  }
}

@media screen and (max-width: 600px) {
 .search-bar-input {
    width: 230px;
  }
}
